
@{
    ViewData["Title"] = "Potwierdzenie zakupu";
}

<div class="text-center">

    <h1>Potwierdzenie zakupu</h1>
    <h3>Pomyślnie wykonano zakup</h3>
    <h3>Do zapłaty @ViewBag.Purchase.TotalPrice PLN</h3>

</div>
